body
{
    color: darkslategray;
    text-align: center;
    font-family: "Arial";
}

#cabecera
{
    background: url("../imagenes/git.png") 1px 1px;
    background-color: rgb(68, 100, 92);
    color: rgb(253, 253, 253);
    padding: 0.5em 0 0, 5em 2em;
}